.yui-b= render :partial => 'community_engine/users/profile_user_info_sidebar'

#yui-main
  .yui-b
    -box :id => "friends" do
      %h3
        =:denied_friendships.l
      .user_list= render :partial => "community_engine/friendships/friendship", :collection => @friendships