- case favorite.favoritable.class.to_s.tableize
  - when 'clippings'
    = render :partial => "community_engine/clippings/clipping", :locals => {:clipping => favorite.favoritable}
  - when 'posts'
    = render :partial => "community_engine/posts/favorited_post", :locals => {:post => favorite.favoritable}    