.profile
  .column.span-9.first
    .favorites.section
      .favorite
        %h2= link_to "#{@user.login}'s "+:favorites.l, user_favorites_path(@user)        

        %p
          =render :partial => 'community_engine/favorites/favorite', :locals => {:favorite => @favorite}
        
  #sidebar.column.span-5.last
    = CommunityEngine::Ad.display(:sidebar_1, logged_in?)

    = CommunityEngine::Ad.display(:sidebar_2, logged_in?)